
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
  font-weight: 200;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

.font-poppins {
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

* {
  font-family: 'Poppins';
}