
@import "assets/scss/fonts.scss";
@import "assets/scss/variables";
@import "assets/scss/utilities";

// PAGES
@import "pages/Home/Home.module.scss";
@import "pages/Skills/Skills.module.scss";
@import "pages/WorkExperience/WorkExperience.module.scss";
@import "pages/Projects/Projects.module.scss";
@import "pages/Events/Events.module.scss";

html {
  font-weight: 300;
}

.portfolio {
  height: 100vh;
  width: 100%;
  display: flex;

  &_sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 25px;
    width: $sidebar-width;
    background-color: #fff;
    border-right: 1px solid #e9e8e8;
    z-index: 1000;

    &__logo {
      margin-left: -15px;
      text-align: center;
      img {
        height: 200px;
        width: 200px;
      }
    }

    &__links {
      position: absolute;
      top: calc(50% - 114px);
      bottom: calc(50% - 114px);
      left: 0;
      right: 0;

      &__item {
        a {
          padding: 1rem 25px;
          display: block;
          text-transform: uppercase;
          color: $color;
          text-decoration: none;
          font-size: 14px;;

          &:hover {
            transition: all ease 0.5s;
            background-color: $color;
            color: #fff;

            path {
              fill: #fff !important;
            }
          }

          &.active {
            border-right: 5px solid $color;
          }

          svg {
            margin-right: 10px;
            margin-bottom: -5px;
            height: 24px;
            width: 24px;
          }
        }
      }
    }

    &__social {
      padding: 0 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #e9e8e8;

      &__item {
        flex: 1 1;
        width: 46px;
        height: 46px;
        // background-color: #cccccc;
        margin: 5px;
        text-align: center;
        display: flex;
        align-items: center;
      }

      a {
        margin: auto;
        font-size: 28px;
        line-height: 0;
      }
    }

    path {
      fill: $color !important;
    }

    &__footer {
      position: absolute;
      bottom: 56px;
      left: 0;
      right: 0;
      padding: 12px 25px;

      a {
        margin-left: 5px;
        color: $color !important;
        text-decoration: none;
      }
      path { fill: #f4585b !important }
      svg {
        width: 30px;
        height: 18px;
      }
      small {
        display: flex;
        align-items: center;
      }

    }
  }

  &_content {
    flex: 1;
  }

  &_header {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 9999;
    box-shadow: 0px 0px 2px #283c4f;

    & .logo {
      flex: 1;
      svg {
        width: auto;
        height: 45px;
        margin-left: -15px;
        margin-top: 7px;
      }
    }

    svg {
      fill: $color;
      height: 24px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 50px;

    &_sidebar {
      width: 100%;
      top: 50px;
      transform: translate(-100%, 0);
      transition: all ease 0.5s;
    }

    &.open-sidebar &_sidebar {
      transform: translate(0, 0);
    }
  }

  @media(min-width: 769px) {
    &_sidebar {
      padding-top: 50px;
    }

    &_content {
      padding-left: $sidebar-width;
    }
  }
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $sidebar-width;
  right: 0;
  display: flex;
  align-items: center;

  > div {
    margin: auto;
  }

  .loader-container {
    height: 75px;
  }
}

.page-title {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-size: 32px;
  font-weight: 700;
  color: $color;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding: 0;
    font-size: 24px;
  }
}

#Noelito_Calma {
  transform:translate(105 374);
  fill: $color;
  font-size: 40px;
}

#Path_1 {
  fill: #fff !important;
}